<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new expense</title>
</head>
<body>
    <a href="<%= baseURL %>/expenses/<%= foundExpense._id %>">Back to expense details</a>
    <h1>Edit expense</h1>
    
    <form action="<%= baseURL %>/expenses/<%= foundExpense._id %>?_method=PATCH" method="POST">
        <label for="value">Expense Value</label>
        <input type="text" id="value" name="value" value="<%= foundExpense.value %>">
        <br>
        <label for="expenseDate">Spent on (date)</label>
        <input type="date" id="expenseDate" name="expenseDate">
        <br>
        <button type="submit">Submit</button>
    </form>

    <script>
        const submitBtn = document.querySelector("button")
        const valueField = document.querySelector("#value")
        valueField.addEventListener("change", () => {
            if (!valueField) {

                submitBtn.disabled = true
            }
        })
    </script>
</body>
</html>